
header {
  background-image: url(header3.jpg) no-repeat;
	height: 168px;
  cursor: pointer;
  outline: 1px;
  text-align: center;
}


body {
   font-weight: bold;
	font-family: Arial;
	font.size: 30px;
	background: url(Bilder/hintergrundNormal.jpg) no-repeat center center fixed;
  background-position: center center;
	
}

#menu {
  font-size:16px;
  position:absolute;
  margin-left:600px;
  z-index: 1;
}

#menu ul {
  list-style-type:none;
  list-style-image:none;
  margin:0px;
  padding:0px;
}

#menu li.hauptmenu {
  float:left;
}

.hauptmenu a {
  float:left;
  width:110px;
  height: 30px;
  padding-top: 15px;
  text-align:center;
  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.hauptmenu ul{
  display:none;

}

.hauptmenu a, .untermenu a{
 
  border:1px solid black;
  border-collapse:collapse;
  color:#ff1493;
  font-weight:bold;
  text-decoration:none;
  background-color:#0000ff ;
  margin: 0px;
}

.untermenu a{
  font-size:13px;
  padding-top: 10px;
  width:110px;
  height:20px;
  position:relative;
  clear:both; 
}

.ecchi a{
  font-size:15px;
  padding-top: 15px;
  width:110px;
  height:20px;
  position:relative;
  clear:both;
}

#menu a:hover, .hauptmenu.on a {
  color:#000000;
  background-color: #00008b;
}

.hauptmenu:hover ul {
  display:block;  
  z-index:500;
}
	
div.text { 
  text-align: center;


}
div.rahmen {
  background-image: url(Bilder/ucwC6G9.png);
  border-width:2px;
  border-color: silver;
  border-style: inset;
  border-radius: 10px;
  opacity: 0.9;
  margin-top: 47px;
  margin-left: 200px;
  margin-right: 200px;
  padding:10px;
}

div.GH {
  background-color: #08243A;
  border-width:2px;
  border-color: white;
  border-style: inset;
  opacity: 0.9;
  margin-top:100px;
  margin-left: 250px;
  margin-right: 250px;
  padding:20px;
}


#EcchiBild{
  float: left;
  width: 350px;
  z-index: 2;
}

#GourmetBild{
  float: left;
  width: 335px;
  z-index: 2;
}

#HaremBild{
  float: left;
  width: 350px;
  z-index: 2;
}

#JoseiBild{
  float: left;
  width: 389px;
  z-index: 2;
}

div.rahmen2{
  background-color: #08243A;
  border-width:2px;
  border-color: silver;
  border-style: inset;
  border-radius: 10px;
  opacity: 0.9;
  margin-top: 47px;
  margin-left: 300px;
  margin-right: 200px;
  padding: 10px;
  z-index: 1;
}

.EcchiText{
  line-height: 85%;
  
}
#Glist1 {
  list-style-type: disc;
}

footer {
  text-align: center;
}