
header {
	margin-right: 700px;
	margin-left:700px;
	background-image: url(header3.jpg);
	height: 168px;
  cursor: pointer;
  outline: 1px;
  outline-color: black;
  outline-style: inset;
  
}


body {
    font-weight: bold;
	font-family: Arial;
	font.size: 30px;
	text-align: center;
	background-image: url(https://i.ytimg.com/vi/XBlRVp6cs30/maxresdefault.jpg);
	
}

	#menu {
  font-size:14px;
  position:absolute;
  margin-left: 750px;
  

}

#menu ul {
  list-style-type:none;
  list-style-image:none;
  margin:0px;
  padding:0px;
}

#menu li.hauptmenu {
  float:left;
}

.hauptmenu a {
  float:left;
  width:110px;
  text-align:center;
}

.hauptmenu ul{
  display:none;

}

.hauptmenu a, .untermenu a{
  padding:1px 5px;
  border:1px solid black;
  border-collapse:collapse;
  color:#ff1493;
  font-weight:bold;
  text-decoration:none;
  background-color:#0000ff ;
  margin: 0px;  
}

.untermenu a{
  font-size:12px;
  width:110px;
  position:relative;
  clear:both; 
}

#menu a:hover, .hauptmenu.on a {
  color:#000000;
  background-color: #00008b;
}

.hauptmenu:hover ul {
  display:block;  
  z-index:500;
}
	
div.text { 
background-image: url(http://wallpapercave.com/wp/ucwC6G9.png);
margin-left: 200px;
margin-right: 200px;
padding:10px;
border-width:2px;
border-color: silver;
border-style: inset;
border-radius: 10px;
}




